* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    height: 50px;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 5px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: grey;
    z-index: 1;
    padding-top: 48px;
}

.view1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
}

.view1>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #fff;
    margin: 10px;
}

.view2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkblue;
    color: #fff;
}